In [3]:
print("Hello World")

Hello World

In [11]:
a= 43.8
b= int(a)

In [12]:
print(type(a), type(b))

<class 'float'> <class 'int'>

In [13]:
print(b)

43

In [26]:
house_number = 13
street_name = "The Crescent"
town_home = "Belmont"
# print(type(house_name)) # <class 'int'="">

#address = house_number + " " + street_name + ", " + town_home
address_str = str(house_number) + " " + street_name + ", " + town_home
# print(address) # 13 The Crescent, Belmont
print(address_str)

13 The Crescent, Belmont

In [39]:
animal = "dog"
action = "bite"
print("Does your {} {}?".format(animal, action))

Does your dog bite?

In [51]:
qw= [False, 3,-9]
print(sorted(qw,reverse=True))

[3, False, -9]

In [62]:
dire= " -".join(['east', 'west', 'south','north'])
print(dire)

east -west -south -north

**Tuple** used to store related pieces of information. #Immutable 

Example:- *(Lat,Long), (l,b,h)

**Sets** are containers of unique elements without any particular order.

**Pop()** removes random element from the List or a Set.

In [71]:
did= {'a':[1,2,3], 'b': (2,4,5)}
did['b']
print(type(did['b']),
type(did['a']))

<class 'tuple'> <class 'list'>

In [73]:
fruit= { 200: ['apple','mango']}

In [85]:
points= int(input())

if (points <=50) and (points > 0):
    print("Congrats!!! You've won WOODEN RABBIT")
elif (points >=51):
    print("LOL!!! Next time")
elif points >100:
    print("Congrats!!! You've won Penguin")
else:
    print("Invalid points")

-44
Invalid points

In [94]:
# BMI Formula

h, w= float(input("Enter the Height[m]:")), int(input("Enter the weight[kg]:"))
if 18.5<((w/h**2))<24.5:
    print("Good")
else:
    print("Need to work")

Enter the Height[m]:s

ValueError: could not convert string to float: 's'

In [103]:
alpha= list(range(1,20,3))

print(alpha)

[1, 4, 7, 10, 13, 16, 19]

### List to Sentence ##

In [174]:
sentence = ["the", "quick", "brown", "fox", "jumped", "over", "the", "lazy", "dog"]

new= ' '.join([word for word in sentence])
new

'the quick brown fox jumped over the lazy dog'

### WORD COUNTER ##

In [151]:
sent= """Then, it leaves the if else statement and moves on to the next iteration of the for loop. 
word now takes the value expectations and repeats the process."""

words= sent.split(' ')

print(words)

word_count= {}

for word in words:
    if word not in word_count:
        word_count[word]= 1
    else:
        word_count[word]+= 1
        
word_count

['Then,', 'it', 'leaves', 'the', 'if', 'else', 'statement', 'and', 'moves', 'on', 'to', 'the', 'next', 'iteration', 'of', 'the', 'for', 'loop.', '\nword', 'now', 'takes', 'the', 'value', 'expectations', 'and', 'repeats', 'the', 'process.']

{'Then,': 1,
 'it': 1,
 'leaves': 1,
 'the': 5,
 'if': 1,
 'else': 1,
 'statement': 1,
 'and': 2,
 'moves': 1,
 'on': 1,
 'to': 1,
 'next': 1,
 'iteration': 1,
 'of': 1,
 'for': 1,
 'loop.': 1,
 '\nword': 1,
 'now': 1,
 'takes': 1,
 'value': 1,
 'expectations': 1,
 'repeats': 1,
 'process.': 1}

In [182]:
cast = {
           "Jerry Seinfeld": "Jerry Seinfeld",
           "Julia Louis-Dreyfus": "Elaine Benes",
           "Jason Alexander": "George Costanza",
           "Michael Richards": "Cosmo Kramer"
       }

for key, value in cast.items():
    print(key, "played", value)

Jerry Seinfeld played Jerry Seinfeld
Julia Louis-Dreyfus played Elaine Benes
Jason Alexander played George Costanza
Michael Richards played Cosmo Kramer

### Adding values from dictonary
You would like to count the number of fruits in your basket.

In [210]:
yes_fruit, no_fruit = 0, 0

basket_items = {'apples': 4, 'oranges': 19, 'kites': 3, 'sandwiches': 8}
fruits = ['apples', 'oranges', 'pears', 'peaches', 'grapes', 'bananas']

for obj, cou in basket_items.items():
    if obj in fruits:
        yes_fruit += cou
    else:
        no_fruit += cou

print("There are", yes_fruit, "fruits and",no_fruit, "non-fruits in the basket.")

There are 23 fruits and 11 non-fruits in the basket.

In [214]:
card_deck = [4, 11, 8, 5, 13, 2, 8, 10]
hand = []

# adds the last element of the card_deck list to the hand list
# until the values in hand add up to 17 or more
while sum(hand)  < 17:
    hand.append(card_deck.pop())

hand

[10, 8]

### FACTORIAL
#### Using While Statement

In [255]:
a,b,c= 1,1,int(input())

while a<=c:
    b *= a; a += 1

print("factorial of", c, "is", b)

5
factorial of 5 is 120

#### Long Method

In [229]:
num = int(input("Enter a number: "))

factorial = 1

if num < 0:
    print("Sorry, factorial does not exist for negative numbers")
elif num == 0:
    print("The factorial of 0 is 1")
else:
    for i in range(1,num + 1):
        factorial = factorial*i
    print("The factorial of",num,"is",factorial)

Enter a number: 5
The factorial of 5 is 120

#### Factorial using Function

In [233]:
def factorial(n):
    return 1 if (n==1 or n==0) else n*factorial(n-1);

factorial(5)

120

#### Factorial using Import

In [235]:
import math

def factorial(n):
    return(math.factorial(n))

factorial(7)

5040

### For loops are ideal when the number of iterations is known or **finite**.

### While loops are ideal when the iterations need to continue until a **condition is met**.

### Using Break in LOOPs.

In [251]:
manifest = [("bananas", 15), ("mattresses", 24), ("dog kennels", 42), ("machine", 120), ("cheeses", 5)]

# the code breaks the loop when weight exceeds or reaches the limit
print("METHOD 1")
weight = 0
items = []
for cargo_name, cargo_weight in manifest:
    print("current weight: {}".format(weight))
    if weight >= 100:
        print("  breaking loop now!")
        break
    else:
        print("  adding {} ({})".format(cargo_name, cargo_weight))
        items.append(cargo_name)
        weight += cargo_weight

print("\nFinal Weight: {}".format(weight))
print("Final Items: {}".format(items))

# skips an iteration when adding an item would exceed the limit
# breaks the loop if weight is exactly the value of the limit
print("\nMETHOD 2")
weight = 0
items = []
for cargo_name, cargo_weight in manifest:
    print("current weight: {}".format(weight))
    if weight >= 100:
        print("  breaking from the loop now!")
        break
    elif weight + cargo_weight > 100:
        print("  skipping {} ({})".format(cargo_name, cargo_weight))
        continue
    else:
        print("  adding {} ({})".format(cargo_name, cargo_weight))
        items.append(cargo_name)
        weight += cargo_weight

print("\nFinal Weight: {}".format(weight))
print("Final Items: {}".format(items))

METHOD 1
current weight: 0
  adding bananas (15)
current weight: 15
  adding mattresses (24)
current weight: 39
  adding dog kennels (42)
current weight: 81
  adding machine (120)
current weight: 201
  breaking loop now!

Final Weight: 201
Final Items: ['bananas', 'mattresses', 'dog kennels', 'machine']

METHOD 2
current weight: 0
  adding bananas (15)
current weight: 15
  adding mattresses (24)
current weight: 39
  adding dog kennels (42)
current weight: 81
  skipping machine (120)
current weight: 81
  adding cheeses (5)

Final Weight: 86
Final Items: ['bananas', 'mattresses', 'dog kennels', 'cheeses']

In [252]:
headlines = ["Local Bear Eaten by Man","Legislature Announces New Laws","Peasant Discovers Violence Inherent in System",
             "Cat Rescues Fireman Stuck in Tree","Brave Knight Runs Away","Papperbok Review: Totally Triffic"]

news_ticker = ""
for headline in headlines:
    news_ticker += headline + " "
    if len(news_ticker) >= 140:
        news_ticker = news_ticker[:140]
        break

print(news_ticker)

Local Bear Eaten by Man Legislature Announces New Laws Peasant Discovers Violence Inherent in System Cat Rescues Fireman Stuck in Tree Brave

### Enumerate

In [255]:
cast = ["Barney Stinson", "Robin Scherbatsky", "Ted Mosby", "Lily Aldrin", "Marshall Eriksen"]

for i, cast in enumerate(cast):
    print(i, cast)

0 Barney Stinson
1 Robin Scherbatsky
2 Ted Mosby
3 Lily Aldrin
4 Marshall Eriksen

In [256]:
cast = ["Barney Stinson", "Robin Scherbatsky", "Ted Mosby", "Lily Aldrin", "Marshall Eriksen"]
heights = [72, 68, 72, 66, 76]

for i, character in enumerate(cast):
    cast[i] = character + " " + str(heights[i])

print(cast)

['Barney Stinson 72', 'Robin Scherbatsky 68', 'Ted Mosby 72', 'Lily Aldrin 66', 'Marshall Eriksen 76']


### Conditionals in List Comprehensions

In [258]:
squares = [x**2 for x in range(9) if x % 3 == 0]
squares

[0, 9, 36]

In [262]:
squares = [x**3 if x % 2 == 0 else x**2 for x in range(9)]
squares

[0, 1, 8, 9, 64, 25, 216, 49, 512]

### Splitting first and last names from a list of names

#### Method 1

In [339]:
names = ["Rick Sanchez", "Morty Smith", "Summer Smith", "Jerry Smith", "Beth Smith"]

for i in names:
    print(i.split())

['Rick', 'Sanchez']
['Morty', 'Smith']
['Summer', 'Smith']
['Jerry', 'Smith']
['Beth', 'Smith']

#### Method 2

In [331]:
names = ["Rick Sanchez", "Morty Smith", "Summer Smith", "Jerry Smith", "Beth Smith"]

first_names = [name.split()[0] for name in names]
last_names = [name.split()[1] for name in names]

print(first_names,last_names)

['Rick', 'Morty', 'Summer', 'Jerry', 'Beth'] ['Sanchez', 'Smith', 'Smith', 'Smith', 'Smith']

In [318]:
num_list = [422, 136, 524, 85, 96, 719, 85, 92, 10, 17, 312, 542, 87, 23, 86, 191, 116, 35, 173, 45, 149, 59, 84, 69, 113, 166]


def summ(num_list):
    tot=0
    for i in num_list:
        if i% 2 == 0:
            tot += i
    print(tot)

summ(num_list)

2586

In [245]:
num_list = [422, 136, 524, 85, 96, 719, 85, 92, 10, 17, 312, 542, 87, 23, 86, 191, 116, 35, 173, 45, 149, 59, 84, 69, 113, 166]

odd=[]
even=[]
for num in num_list:
    if num % 2 == 1:
        odd.append(num)
    else:
        even.append(num)
        
odd,even

([85, 719, 85, 17, 87, 23, 191, 35, 173, 45, 149, 59, 69, 113],
 [422, 136, 524, 96, 92, 10, 312, 542, 86, 116, 84, 166])

In [342]:
num_list = [422, 136, 524, 85, 96, 719, 85, 92, 10, 17, 312, 542, 87, 23, 86, 191, 116, 35, 173, 45, 149, 59, 
            84, 69, 113, 166]

som=[]
for num in num_list:
    if num % 2 == 1:
        som.append(num)

        
print("The sum of", som, "is", sum(som))

The sum of [85, 719, 85, 17, 87, 23, 191, 35, 173, 45, 149, 59, 69, 113] is 1850

### Function giving the next Number

In [374]:
def plus1(n):
#    n=input("Enter the Number: ")
    if type(n) == str:
        print("Please Enter the Number!!!")
    elif type(n) == int:
        print("Next Number is ",n+1)

plus1(-6+6)

Next Number is  1

In [397]:
# Addition og two numbers

def addd(a,b):
    if (type(a) == str) and (type(b) == str):
        print("Print nubmers...")
    else:
        return a+b

addd(2,-9)

-7

In [404]:
# Minutes to Seconds

def mintsec(n):
    return n*60

mintsec(float(input()))

5

300.0

In [409]:
#area of triangle

def tri(a,b):
    print( "Area of triangle is", (a*b)/2, "m2")

tri(a=int(input('Enter Height:')), b=int(input('Enter Base:')))

Enter Height:4
Enter Base:4
Area of triangle is 8.0 m2

In [435]:
# Cost price from MRP and Discount

def sp(mrp,dis):
    return mrp-((dis/100)*mrp)

print("The cost price is ",dis(int(input()),int(input())))

173
10
The cost price is  155.7

In [430]:
# Default mood function
def mood(n):
    print( "Today my mood is", n)

mood(n=str(input()))

Awesome/
Today my mood is Awesome/

### Palindrome

In [437]:
# For Strings

a= 'malayalam'

if a== a[::-1]:
    print("Palindraome")
else:
    print("Non-Palindraome")

Non-Palindraome

In [ ]:
# For Strings

n= str(input())
pali= [i[::-1] for i ]

In [452]:
# For Strings

def ispalindrome(s):
    return s == s[::-1]
    
ispalindrome(s=str(input()))

poiop

True

In [458]:
n= str(input("Enter the string:"))

rev= ''.join(reversed(n))

if n== rev:
    print(True)
else:
    print(False)

Enter the string:rtytr
True

In [453]:
# For integers

num = int(input("Enter a value:"))
temp = num
reverse = 0
while(num > 0):
    digit = num % 10
    reverse = reverse * 10 + digit
    num = num // 10
    
if(temp == reverse):
    print("palindrome number")
else:
    print("not a palindrome number")

Enter a value:3456543
palindrome number

In [489]:
# HackerRank Problem/ Cuboid Dimension

x= int(input()); y= int(input()); z= int(input()); n= int(input())

abc= [[i,j,k] for i in range(x+1) for j in range(y+1) for k in range(z+1) if i+j+k != n];  print(abc)

1
1
1
6
[[0, 0, 0], [0, 0, 1], [0, 1, 0], [0, 1, 1], [1, 0, 0], [1, 0, 1], [1, 1, 0], [1, 1, 1]]

In [492]:
# 2 Dimension

x= int(input()); y= int(input()); n= int(input())

ab=[[i,j] for i in range(x+1) for j in range(y+1) if i+j == n];  print(ab)

2
2
3
[[1, 2], [2, 1]]

In [494]:
# Table of 2

i=1
n=2
while i<=5:
    print(n,"*", i, "=", n*i)
    i=i+1

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10

In [514]:
for i in range(5):
    for j in range(i):
        print(i, end=' ')
    print()

1
2 2
3 3 3
4 4 4 4

In [59]:
def lol(num):
    number=1
    for i in range(0,num):
        for j in range(i+1):
            print(number, end=' ')
            number= number+1
        print()

lol(6)

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15
16 17 18 19 20 21

In [77]:
# return only alphabets OR digit | list comprehension

string ='iy72r0338d38r38201r7'

alphabet =[i for i in string if i.isdigit()]
number = [i for i in string if i.isalpha()]
print(alphabet,number)

['7', '2', '0', '3', '3', '8', '3', '8', '3', '8', '2', '0', '1', '7'] ['i', 'y', 'r', 'd', 'r', 'r']

In [78]:
# combining two lists | list comprehension

a= [1,2,3,4]; b= [9,8,7,6]
lst= [a[i]*b[i] for i in range(len(a))]
lst

[9, 16, 21, 24]

In [80]:
# IF & ELSE together, can only be used before FOR 
# Incase of only IF, it's used after FOR

lala= [1,2,3,4,5,6,7,8,9]
lac= [i*i if (i%2==0) else -i for i in lala]; lac

[-1, 4, -3, 16, -5, 36, -7, 64, -9]

In [114]:
# Returning strings in a list from a list of multiple data types

ip= [True, False, [1,1,3], 2.0, 3, 5]
cat= [str(i) for i in ip if type(i)==int or type(i)==float]; cat

['2.0', '3', '5']

In [120]:
ab= ['abc', 'def', 'xyz']
bc= [i[::-1] for i in (ab)]; bc

['cba', 'fed', 'zyx']

In [134]:
# creating a list of cubes

def cube_(n):
    cube={}
    for i in range(1,n+1):
        cube[i]= i**3
    return cube
cube_(5)

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125}

In [139]:
guitars=[   
    {'model' : 'Yamaha' , 'price': 8000},
    {'model' : 'Naptune' , 'price': 50000},
    {'model' : 'Venus' , 'price': 35000},   
    {'model' : 'Taylor' , 'price': 450000}]

#print( sorted(list(map(lambda item: item.get('price'), guitars))))

print( sorted( guitars , key = lambda i: i.get('price')))

[{'model': 'Yamaha', 'price': 8000}, {'model': 'Venus', 'price': 35000}, {'model': 'Naptune', 'price': 50000}, {'model': 'Taylor', 'price': 450000}]

### Lambda Expressions

##### You can use lambda expressions to create anonymous functions. That is, functions that don’t have a name. They are helpful for creating quick functions that aren’t needed later in your code. *

In [250]:
# Vowel Replacer

def vow(string,replacer):
    
    vowel= 'aeiou'
    for i in vowel:
        string= string.replace(i,replacer)
    return (string)

vow('qraoibvtwucgafeog','#')

'qr###bvtw#cg#f##g'

In [281]:
# Fizzbuzz one liner

n= int(input())
fb= ['fizzbuzz' if (i%3==0 and i%5==0) else 'fizz' if (i%3==0 ) else 'buzz' if (i%5==0) 
     else i for i in range(1,n+1)]
print(fb)

15
[1, 2, 'fizz', 4, 'buzz', 'fizz', 7, 8, 'fizz', 'buzz', 11, 'fizz', 13, 14, 'fizzbuzz']

In [319]:
# Armstrong Number i.e. 1, 2, 3, 4, 5, 6, 7, 8, 9, 153, 370, 371, 407, 1634, 8208, 9474, 54748, ...

num= int(input())
power=len(str(num))
total=0
temp=num

while temp>0:
    digit= temp%10
    total= total+(digit)**power
    temp= temp//10
    
final= ['The number is Armstrong' if num==total else "It ain't Armstrong Number"]
final

342

["It ain't Armstrong Number"]

In [344]:
# Prime Number

# Condition-1 It should be a whole number greater than 1.
# Condition-2 it should have only two factors i.e one and the number itself.
# If these two conditions are satisfied, then we can say a number is a prime number.

n= int(input('Enter the Number: '))

if n>1:
    for i in range(2,n):
        if n%i==0:
            print(n, 'is not a Prime Number')
            break

    else:
        print(n,'is a Prime Number')

Enter the Number: 34
34 is not a Prime Number

In [ ]:
# Prime Number // List Comp.

n= int(input())
prime= []

### Importing Local Scripts from other file (.py)
We can actually import Python code from other scripts, which is helpful if you are working on a bigger project where you want to organize your code into multiple files and reuse code in those files. If the Python script you want to import is in the same directory as your current script, you just type import followed by the name of the file, without the .py extension.

### Iterators And Generators

**Iterables** are objects that can return one of their elements at a time, such as a list. 
An **iterator** is an object that represents a stream of data. This is different from a list, which is also an iterable, but is not an iterator because it is not a stream of data.

**Generators** are a simple way to create iterators using functions. You can also define iterators using classes.

Here is an example of a **generator function called my_range**, which produces an iterator that is a stream of numbers from 0 to (x - 1).

In [350]:
def my_range(x):
    i = 0
    while i < x:
        yield i
        i += 1
        
for x in my_range(5):
    print(x)

0
1
2
3
4

In [4]:
a= tuple('abcde')
a,b,c,d,e=a
b=c= '*'
a= (a,b,c,d,e)
print(a)

('a', '*', '*', 'd', 'e')