In [1]:
# Checking odd OR even

my_no= int(input("Enter the Number: "))

if my_no%2==0:
    print('This number is Even') 
else:
    print("This number is Odd")

Enter the Number: 4
This number is Even

##### checking tensorflow version

import tensorflow as tf
print(tf.__version__)

In [5]:
# Sum// Diff// Multiply

a= int(input("Enter a number: "))
b= int(input("Enter a number: "))
print("Sum is: ",a+b, "///", "DIfference is: ",a-b, "///", "Multiplication is: ",a*b)

Enter a number: 34
Enter a number: 22
Sum is:  56 /// DIfference is:  12 /// Multiplication is:  748

In [36]:
# Trying Stuff with this

a= int(input())
b= int(input())
print('Sum is ', (a+b),'\n', 'Difference is ', (a-b))

4
2
Sum is  6
 Difference is  2

## How to make space between print

In [28]:
a = int(input())
b = int(input())
print('{0} \t{1} \t{2}'.format((a + b), (a - b), (a * b)))

1
4
5 	-3 	4

In [37]:
# Remainder and Division

a= int(input(""))
b= int(input(""))
print(a//b,a/b)

3
5
0 0.6

In [39]:
a= int(input(""))
print([i**2 for i in range(a)], sep='\n')

6
[0, 1, 4, 9, 16, 25]

In [40]:
a= int(input(""))
print(*[i**2 for i in range(a)], sep='\n')

5
0
1
4
9
16

## __Using Lambda to extract DateTime__

In [45]:
import datetime

df= datetime.datetime.now()
print(df)        # To check the current date and time
year=lambda x: x.year
month= lambda x: x.month
day= lambda x: x.day
time= lambda x: x.time()

print('Year-', year(df), '\nMonth-', month(df), '\nDay-',  day(df), '\nTime-', time(df))

2021-05-21 17:24:59.182784
Year- 2021
Month- 5
Day- 21
Time- 17:24:59.182784

In [28]:
# Writing a function to find weather it is a leap year or not

def leapornot(year):
    return year % 4 == 0 and (year % 400 == 0 or year % 100 != 0) # Brackets are just for understanding
leapornot(2022)

False

In [47]:
# Write a function which will give me leap leap year between range of years

In [69]:
print(*range(1, int(input())+1), sep='')

5
12345

In [ ]:
# For a given group of people apply np.random in order to divide the group into subgroups of N people

### Using Wikipedia in Python

In [80]:
import wikipedia as wiki
query= wiki.page('ironman')
print(query.summary)

Iron Man is a superhero appearing in American comic books published by Marvel Comics. The character was co-created by writer and editor Stan Lee, developed by scripter Larry Lieber, and designed by artists Don Heck and Jack Kirby. The character made his first appearance in Tales of Suspense #39 (cover dated March 1963), and received his own title in Iron Man #1 (May 1968). Also in 1963, the character founded the Avengers alongside Thor, Ant-Man, Wasp and the Hulk.
A wealthy American business magnate, playboy, philanthropist, inventor and ingenious scientist, Anthony Edward "Tony" Stark suffers a severe chest injury during a kidnapping. When his captors attempt to force him to build a weapon of mass destruction, he instead creates a mechanized suit of armor to save his life and escape captivity. Later, Stark develops his suit, adding weapons and other technological devices he designed through his company, Stark Industries. He uses the suit and successive versions to protect the world as Iron Man. Although at first concealing his true identity, Stark eventually publicly reveals himself to be Iron Man.
Initially, Iron Man was a vehicle for Stan Lee to explore Cold War themes, particularly the role of American technology and industry in the fight against communism. Subsequent re-imaginings of Iron Man have transitioned from Cold War motifs to contemporary matters of the time.Throughout most of the character's publication history, Iron Man has been a founding member of the superhero team the Avengers and has been featured in several incarnations of his own various comic book series. Iron Man has been adapted for several animated TV shows and films.  In the Marvel Cinematic Universe, the character was portrayed by Robert Downey Jr., appearing in the films Iron Man (2008), The Incredible Hulk (2008) in a cameo, Iron Man 2 (2010), The Avengers (2012), Iron Man 3 (2013), Avengers: Age of Ultron (2015), Captain America: Civil War (2016), Spider-Man: Homecoming (2017), Avengers: Infinity War (2018) and Avengers: Endgame (2019). The character also appeared in Spider-Man: Far From Home (2019) and in the upcoming Black Widow (2021) through archive footage.
Iron Man was ranked 12th on IGN's "Top 100 Comic Book Heroes" in 2011 and third in their list of "The Top 50 Avengers" in 2012.

In [87]:
i=0
for j in range(10,3,-2):
    i += j>i
print(i)

4

When it comes to data science and machine learning or Data Scientist profile how much DBMS i should know?

In [23]:
import numpy as np
a= np.array(input().split(), 'int').reshape(2,3).transpose()
a.reshape(1,6)

6

ValueError: cannot reshape array of size 1 into shape (2,3)

In [29]:
array = np.array([input().strip().split() for i in range(n)], int)
print (array.transpose())
print (array.flatten())

2 3 4 5
[[2]
 [3]
 [4]
 [5]]
[2 3 4 5]

In [85]:
n = int(input())
print([i**2 for i in range(n)], sep='\n')

5
[0, 1, 4, 9, 16]

In [86]:
n = int(input())
print(*[i**2 for i in range(n)], sep='\n')

5
0
1
4
9
16

In [5]:
fruits = {'Apples': 5, 'Oranges': 3, 'Bananas': 4}

fruit_keys = [x for x in fruits.keys()]
fruit_values = [x for x in fruits.values()]

print(fruit_names, fruit_values)

['Apples', 'Oranges', 'Bananas'] [5, 3, 4]

In [27]:
i= int(input())
if i%15==0:
    print('FizzBuzz')
elif i%5==0:
    print('Buzz')   
elif i%3==0:
    print('Fizz')
else:
    print('You NUTS! Go again...')

7
You NUTS! Go again...

In [7]:
input()
socks = input().strip().split()
pairs = 0

for element in set(socks):
	pairs += socks.count(element) // 2
print(pairs)

6
3
0

In [31]:
import random
min=1; max=6
print("Rolling the Dice")
a= random.randint(min,max)
print('It is...', a)

Rolling the Dice
It is... 4

In [1]:
q= (2011); a= (2011,2021)
print(type(q), type(a))

<class 'int'> <class 'tuple'>

In [2]:
a= 12,4,54,6,34,25,11
print(a)
print(set(a), type(a))
print(list(a), type(a))
print(tuple(a), type(a))

(12, 4, 54, 6, 34, 25, 11)
{34, 4, 6, 11, 12, 54, 25} <class 'tuple'>
[12, 4, 54, 6, 34, 25, 11] <class 'tuple'>
(12, 4, 54, 6, 34, 25, 11) <class 'tuple'>

In [3]:
a= [1,2,3]
b=a
print(a is b, a==b)

True True

### SORTED() VS .SORT

*"sorted()" is used when we want to sort a list but still use the original unsorted version, If maintaining the original order is unimportant, then we'd use ".sort()"*

In [4]:
a= [1,8,3,6,3,7,9]
print(sorted(a))
print(a)

[1, 3, 3, 6, 7, 8, 9]
[1, 8, 3, 6, 3, 7, 9]

In [5]:
a= [1,8,3,6,3,7,9]
print(a)
a.sort()
print(a)

[1, 8, 3, 6, 3, 7, 9]
[1, 3, 3, 6, 7, 8, 9]

In [6]:
a= "Hello World"
a.replace("l", "z", 2) # 2 is the number of times we want the replacement

'Hezzo World'

In [7]:
a= ("Hello World",'geegf')
print(a[1])
type(a)

geegf

tuple

In [8]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [9]:
a= (12,4,6,5,7,"fe")
b= [11,45,5,64,"fehf"]
print(type(a), type(b))

<class 'tuple'> <class 'list'>

In [10]:
name= 'Nandani Krishnan'
first_name, last_name= name.split()
print(last_name, first_name, sep=', ')

Krishnan, Nandani

In [11]:
my_list = [2, 3, 5, 7, 11]

my_d= {x:round(x**.5,2) for x in my_list};    my_d

{2: 1.41, 3: 1.73, 5: 2.24, 7: 2.65, 11: 3.32}

In [12]:
my_m= [round(i**(0.5),3) for i in my_list ];    my_m

[1.414, 1.732, 2.236, 2.646, 3.317]

In [13]:
a = [1, 2, 3]
b = [7, 8, 9]

[(x + y) for (x,y) in zip(a,b)]

[8, 10, 12]

#### Count word from a string

In [15]:
abc= """The Scala version used by sbt itself and its plugins is completely independent from 
the Scala version used to compile the code in your project. The sbt version determines the Scala version it uses"""

count=0
for i in abc.lower().split():
    if i == "the":
        count +=1
print(count)

5

In [16]:
a= [i for i in abc.lower().split() if i== "the"];   len(a)

5

#### Reversing the String Methods

In [19]:
string= "Hello there!"

In [20]:
# s= "Hello"http://localhost:8888/notebooks/Desktop/Stuff/Stuff.ipynb#Reversing-the-String-Methods
def reverse_(s):
    ss = "".join(reversed(s))
    return ss

reverse_(string)

'!ereht olleH'

In [26]:
s,k= [i for i in string[::-1]], "".join(s)
k

NameError: name 's' is not defined

In [23]:
def reverse(s):
    str = ""
    for i in s:
        str = i + str
    return str

reverse(string)

'!ereht olleH'

In [24]:
def rever(s):
    s= s[::-1]
    return s
    
rever(string)

'!ereht olleH'

In [25]:
import numpy as np
arr= np.array([[1,2], [3,4], [5,6]])
for cell in arr.flat:
    print(cell)

1
2
3
4
5
6